<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991835427992-7pot5ppt05lv1kcpodd6leou6nifl6l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991835427992-7pot5ppt05lv1kcpodd6leou6nifl6l6</string>
	<key>API_KEY</key>
	<string>AIzaSyCOVeC6a2sfHCcO81-IHobXnXc_8xyB1bc</string>
	<key>GCM_SENDER_ID</key>
	<string>991835427992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonh.firebasePost</string>
	<key>PROJECT_ID</key>
	<string>fir-post-68433</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-post-68433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991835427992:ios:32a008bd626d0c40a72ced</string>
	<key>DATABASE_URL</key>
	<string>https://fir-post-68433.firebaseio.com</string>
</dict>
</plist>